<!DOCTYPE html>
<html>
<head>
    <title>Server-Side Rendering with Flask</title>
</head>
<body>
    {% for data in data %}
    <tr>
        <th>
          <th>{{ data.task_id }}</th>
        </th>
        <th>{{ data.task_name }}</th>
        <th>{{ data.task_start }}</th>
        <th>{{ data.task_finish }}</th>
        <th>{{ data.task_scope }}</th>
        <th>{{ data.task_status }}</th>
        <th></th>
      </tr>
      {% endfor %}
</body>
</html>